#btn{
    width: 150px;
    height: 100px;
    margin-left: 250px;
    background-color: yellowgreen;
    border: 2px dashed blueviolet;
   color: white;
   font-size: 20px;
}
li{
    font-size: 20px;
    }
    .big{
        font-size:30px;
    }
    .color{
        color: red;
    }